@import "mixins.scss";
// @import "reset.scss";
@import "pure-min.scss";
@import "pure-grids-responsive-min.scss";

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

@import "icomoon.scss";
@import "typography.scss";


$accentColor: #ad24ab;

body, html {
  cursor: default;
}

body {
  text-align: center;
}

.fixed-width {
  max-width: 960px;
  margin: auto;
}

.feature {
  min-height: 150px;
  // border-bottom: 1px solid #ccc;
  padding: 50px 0;
}

.txt-btn {
  cursor: pointer;
  padding: 10px;

  &:hover {
    color: $accentColor;
  }
}

.read-more {
  // margin-top: 0;
  font-weight: 700;
  // padding-top: 10px;
  // padding-bottom: 10px;
  width: 100%;
}

#header {
  @include vertical-center();
  @include flex-direction(column);
  // border-bottom: 1px solid #ccc;

  padding-top: 100px;

  .content {
    margin: auto;
    padding: 0 20px;

    h1 {
      @extend .gdisplay1;
    }

    .subtext {
      font-style: italic;
      display: block;
      max-width: 400px;
    }
  }

  .icons {
    margin-top: 20px;
    font-size: 20px;
    color: rgba(0,0,0,.54);

    i {
      padding: 10px;
    }
  }
}

section#about {
  p {

    margin: auto;
    // margin-bottom: 10px;
    padding: 10px;

    a {
      color: $accentColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // sm
  @media screen and (min-width: 35.5em) {
    p {
      width: 100%;
    }
  }

  // md
  @media screen and (min-width: 48em) {
    p {
      width: 600px;
    }
  }


}

section#work {
  @include vertical-center();
  @include flex-direction(column);

  .logos {
    @extend .pure-g;
    margin-bottom: 0;
  }

  .logos-logo {
    padding: 20px;
    @extend .pure-u-1;
    @extend .pure-u-md-1-2;
  }

  .logos-main-logo {
    padding: 20px;
    @extend .pure-u-1;
  }

  img {
    height: 80px;
    margin: auto;
  }
}

// sm
@media screen and (min-width: 35.5em) {

}

// md
@media screen and (min-width: 48em) {

}

// lg
@media screen and (min-width: 64em) {

}
