@import "mixins.scss";
// @import "reset.scss";
@import "pure-min.scss";
@import "pure-grids-responsive-min.scss";

// @import "http://yui.yahooapis.com/combo?pure/0.5.0/base.css&pure/0.5.0/grids-responsive.css";

a, a:active, a:hover, a:visited {
  text-decoration: none;
  color: inherit;
}

*, *:before, *:after {
  @include box-sizing(border-box);
}

@import "icomoon.scss";
@import "typography.scss";


$accentColor: #ad24ab;

body, html {
  cursor: default;
}

body {
  text-align: center;
}

.fixed-width {
  max-width: 960px;
  margin: auto;
}

.feature {
  min-height: 150px;
  // border-bottom: 1px solid #ccc;
  padding: 50px 0;
}

.txt-btn {
  cursor: pointer;
  padding: 10px;

  &:hover {
    color: $accentColor;
  }
}

.read-more {
  // margin-top: 0;
  font-weight: 700;
  // padding-top: 10px;
  // padding-bottom: 10px;
  width: 100%;
}

.invisible {
  opacity: 0;
}

#header {
  @include vertical-center();
  @include flex-direction(column);
  // border-bottom: 1px solid #ccc;

  padding-top: 100px;

  .content {
    margin: auto;
    padding: 0 20px;

    h1 {
      @extend .gdisplay1;
    }

    .subtext {
      font-style: italic;
    }
  }

  .icons {
    margin-top: 20px;
    font-size: 20px;
    color: rgba(0,0,0,.54);

    i {
      padding: 10px;
    }
  }
}

section#about {
  p {

    margin: auto;
    // margin-bottom: 10px;
    padding: 10px;

    a {
      color: $accentColor;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  // sm
  @media screen and (min-width: 35.5em) {
    p {
      width: 100%;
    }
  }

  // md
  @media screen and (min-width: 48em) {
    p {
      width: 600px;
    }
  }


}

section#work {
  @include vertical-center();
  @include flex-direction(column);

  .logos {
    @extend .pure-g;
    margin-bottom: 0;
  }

  .logos-logo {
    padding: 20px;
    @extend .pure-u-1;
    @extend .pure-u-md-1-3;
  }

  img {
    max-height: 80px;
    margin: auto;
  }
}

#projects {
  // padding-top: 80px;
  // padding-bottom: 50px;

  &.is-expanded {
    #moreProjects {
      height: auto;
      opacity: 1;
    }

    #readmore {
      visibility: hidden;
    }
  }

  .projects-wrapper {
    // margin-bottom: 50px;
    @include display-flex();
    @include flex-wrap(wrap);
    @include flex-justify-content(center);
    @include flex-align-content(flex-start);
  }

  #moreProjects {
    height: 0;
    overflow: hidden;
    transition: 1.5s opacity;
    opacity: 0;
  }

  #readmore {
    // @extend .gtitle;
    // margin-bottom: 20px;
    transform: translate(0px, 0px);
  }
}

.project {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  padding: 0 30px;
  margin-bottom: 30px;

  @extend .pure-u-1;
  @extend .pure-u-md-1-2;

  &:first-child {
    margin-left: 0 !important;
  }

  &:hover {
    .image {
      // -webkit-filter: brightness(1.3);
      -webkit-filter: sharpness(1.3);
      // opacity: 0.8;
      // -webkit-filter: blur(2px);
    }
  }

  .image {
    height: 150px;
    background-size: cover;
    margin: auto;

    position: relative;

    border: 1px solid #ccc;
    background-position: 50% 50%;

    transition: .1s all;
  }

  .title {
    @extend .gtitle;
    display: block;
    padding-top: 16px;
    margin-bottom: 12px;
  }

  &.small-project {
    padding: 0 20px;
    margin-bottom: 30px;

    @extend .pure-u-1;
    @extend .pure-u-sm-1-2;
    @extend .pure-u-md-1-3;

    .image {
      height: 100px;
    }
  }
}

section#travel {
  padding: 0;

  #mapWrapper {
    min-height: 200px;
    position: relative;
    @include vertical-center();

    #map {
      background: url('../images/map.jpg');
      background-size: cover;
      background-position: 50% 50%;

      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 0;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;

        background-color: rgba(0,0,0,.15);
      }
    }

    #mapOverlay {
      z-index: 1;
      color: white;
      text-shadow: 1px 1px 4px rgba(0,0,0,0.54);

    }

    .info {
      // @include display-flex();
      // @include flex-justify-content(center);

      // margin-bottom: 30px;
    }

    .item {
      @include display-flex();
      @include flex-direction(column);
      padding: 30px;

      .number {
        @extend .gdisplay2;
        font-weight: 700;
      }

      .title {
        @extend .gtitle;
        font-weight: 700;
      }
    }

    .readmore {
      // @extend .gtitle;
    }
  }

  .post {
    position: relative;
    height: 200px;
    background-size: cover;
    background-position: 50% 50%;

    .overlay {
      height: 100%;
    }

    .title, .subtext {
      display: block;
    }

    .title {
      @extend .gdisplay2;
    }

    .subtext {
      @extend .gdisplay1;
    }
  }
}

// sm
@media screen and (min-width: 35.5em) {

}

// md
@media screen and (min-width: 48em) {

}

// lg
@media screen and (min-width: 64em) {

}